### Reading a file from the current directory

In [502]:
import pandas as pd

In [503]:
popgrowth = pd.read_csv('infant-death-rates-by-cause-by-sex.csv')
popgrowth

,Entity,Year,Excess female deaths (excess deaths),Missing female births (missing births)
0,China,1975,320000,0
1,China,1980,420000,0
2,China,1985,500000,170000
3,China,1990,570000,470000
4,China,1995,540000,680000
...,...,...,...,...
59,World,2030,1920000,1090000
60,World,2035,2060000,950000
61,World,2040,2210000,810000
62,World,2045,2390000,680000
63,World,2050,2520000,600000

### Subsetting the DF

#### subsetting the column

From the above DF, I am interested only on the year and population column!

#### subsetting the rows

Lets say I wanted to subsset the countries in the Europe

In [504]:
Europa = ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden']
Eur_popgrowth = popgrowth[popgrowth['Entity'].isin(Europa)]
Eur_popgrowth.head()

Empty DataFrame
Columns: [Entity, Year, Excess female deaths (excess deaths), Missing female births (missing births)]
Index: []

In [505]:
Eur_popgrowth.to_csv('1.Europe dpop growth %.csv')

In [506]:
africa= ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo', 'Democratic Republic of Congo', "Cote d'Ivoire", 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe']
afr_popgrowth = popgrowth[popgrowth['Entity'].isin(africa)]
afr_popgrowth.head()

Empty DataFrame
Columns: [Entity, Year, Excess female deaths (excess deaths), Missing female births (missing births)]
Index: []

In [507]:
afr_popgrowth.to_csv('2.African ppop growth in %.csv')

In [508]:
S_america= ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Surinam', 'Uruguay', 'Venezuela']
s_america_popgrowth = popgrowth[popgrowth['Entity'].isin(S_america)]
s_america_popgrowth.head()

Empty DataFrame
Columns: [Entity, Year, Excess female deaths (excess deaths), Missing female births (missing births)]
Index: []

In [509]:
s_america_popgrowth.to_csv('3.South American pop growth in %.csv')

In [510]:
n_america=['Antigua and Barbuda', 'Bahamas', 'Barbados', 'Belize', 'Canada', 'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'United States']
n_america_popgrowth = popgrowth[popgrowth['Entity'].isin(n_america)]
n_america_popgrowth.head()

Empty DataFrame
Columns: [Entity, Year, Excess female deaths (excess deaths), Missing female births (missing births)]
Index: []

In [511]:
n_america_popgrowth.to_csv('4.North American pop growth in %.csv')

In [512]:
america=['Antigua and Barbuda', 'Bahamas', 'Barbados', 'Belize', 'Canada', 'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'United States', 'Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Surinam', 'Uruguay', 'Venezuela']
america_popgrowth = popgrowth[popgrowth['Entity'].isin(america)]
america_popgrowth.head()

Empty DataFrame
Columns: [Entity, Year, Excess female deaths (excess deaths), Missing female births (missing births)]
Index: []

In [513]:
america_popgrowth.to_csv('5.Both Americans pop growth in %.csv')

In [514]:
asia= ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestine', 'Philippines', 'Qatar', 'Russia', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Taiwan', 'Tajikistan', 'Thailand', 'Timor', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen']
asia_popgrowth = popgrowth[popgrowth['Entity'].isin(asia)]
asia_popgrowth.head()

,Entity,Year,Excess female deaths (excess deaths),Missing female births (missing births)
0,China,1975,320000,0
1,China,1980,420000,0
2,China,1985,500000,170000
3,China,1990,570000,470000
4,China,1995,540000,680000

In [515]:
asia_popgrowth.to_csv('6.Asian pop growth in %.csv')