# CH-3  Operators and Conditional Satements

## 3. 1. Comparison operators 

show how Python values relate

Comparion Operators:

    1. < strictly less than
    2. <= less than or equal
    3. > strictly greater than
    4. >= greater than or equal
    5. == equal
    6. != not equa

Different types of comparisons:

    Numeric Comparisons
    
    Other Comparisons
    
`Result` of Comapriosn is always `Boolean`

#### Equality

To check if two Python values, or variables, are equal you can use `==`. 

`To check for inequality`, you need `!=`.

example:

In [ ]:
2 == (1 + 1)

In [ ]:

"intermediate" != "python"

In [ ]:

True != False

In [ ]:

"Python" != "python"

In [ ]:
# Comparison of booleans
True == False

# Comparison of integers
-5*15 != 75

# Comparison of strings
"pyscript" == "PyScript"

# Compare a boolean with an integer
True == 1

### Greater and less than

In [ ]:
# Comparison of integers
x = -3 * 6
print(x >= -10)

In [ ]:

# Comparison of strings
y = "test"
print("test" <= y)

In [ ]:

# Comparison of booleans
print(True > False)

### Compare arrays

Note: for `string comparison`, Python determines the relationship based on `alphabetical order`

In [ ]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

In [ ]:

# my_house greater than or equal to 18
print(my_house >= 18)

# my_house less than your_house
print(my_house < your_house)

## 3.2 Boolean Operators


A boolean is either 1 or 0, True or False. 

The boolean operators are `and`, `or` and `not`.

We can combine these booleans to perform more advanced queries on your data.

In [ ]:
# Define variables
my_kitchen = 18.0
your_kitchen = 14.0

# my_kitchen bigger than 10 and smaller than 18?
print(my_kitchen > 10 and my_kitchen <18)

In [ ]:

# my_kitchen smaller than 14 or bigger than 17?
print(my_kitchen > 17 or my_kitchen <14)

In [ ]:

# Double my_kitchen smaller than triple your_kitchen?
print((2 *my_kitchen) < (3*your_kitchen))

### Boolean operators with Numpy

The operational operators like < and >= work with Numpy arrays `out of the box`. 

Unfortunately, the boolean operators and, or, and `not DO NOT WORK` with Numpy arrays `out of the box`.

Therefore:

We use `Numpy logical opetators`. 

    These are:
    
    i. np.logical_and(), 
    
    ii. np.logical_or() and 
    
    iii. np.logical_not(). 
    
Here's an example on the my_house and your_house arrays from before to give you an idea:

`example:` 

    np.logical_and(my_house > 13, your_house < 15)

In [ ]:
# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

In [ ]:

# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house > 18.5, my_house < 10))

In [ ]:
# Both my_house and your_house smaller than 11
print(np.logical_and(my_house < 11, your_house < 11))

## 3.3 Conditional Statements

### if

In [5]:
# Define variables
room = "kit"
area = 14.0

# if statement for room
if room == "kit" :
    print("looking around in the kitchen.")

# if statement for area
if area >15:
    print("big place!")

looking around in the kitchen.

### else

In [4]:
# Define variables
room = "kit"
area = 14.0

# if-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
else :
    print("looking around elsewhere.")

# if-else construct for area
if area > 15 :
    print("big place!")
else:
    print("pretty small.")

looking around in the kitchen.
pretty small.

### elif

In [3]:
# Define variables
room = "bed"
area = 14.0

# if-elif-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
elif room == "bed":
    print("looking around in the bedroom.")
else :
    print("looking around elsewhere.")

# if-elif-else construct for area
if area > 15 :
    print("big place!")
elif area > 10:
    print("medium size, nice!")
else :
    print("pretty small.")

looking around in the bedroom.
medium size, nice!

### 3.4. Knowledge Application: Filtering Pandas DataFrame


**EXERCISES-1**. Select countries with area over 8 million km^2 from brics.csv

Steps:

    ● import pandas and the csv file
    
    ● Select the area column
    
    ● Do comparison on area column
    
    ● Use result to select countries

In [7]:
import pandas as pd
brics = pd.read_csv("brics.csv", index_col = 0)
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [10]:
#Select the area column
brics.loc[:, "area"]

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [11]:
# Do comparison on area column
brics["area"] > 8

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [12]:
is_huge = brics["area"] > 8

In [13]:
# Subset DF, select the countries

brics[is_huge]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

**EXERCISE-2**. Select countries with area over 8 million km^2 and below 10 km^2 from brics.csv

In [20]:
import numpy as np
import pandas as pd

brics = pd.read_csv("brics.csv", index_col = 0)
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [28]:
islarge = np.logical_and(brics["area"] > 8, brics["area"] < 10)

In [29]:
brics[islarge]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0

**EXERCISE-3**

### Driving right (1)

From cars dataset, containing the cars per 1000 people (cars_per_cap) and whether people drive right (drives_right) for different countries (country), import the data in CSV format into Python as a DataFrame.

Filter observations from a DataFrame based on boolean arrays. 


Let's start simple and try to find all observations in cars where drives_right is True.

drives_right is a boolean column, so you'll have to extract `it as a Series` and then use this boolean Series to select observations from cars.

In [31]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS            31      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [35]:
# Extract drives_right column as Series: dr

dr = cars.loc[: , "drives_right"]
print(dr)

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [37]:

# Use dr to subset cars: sel
sel = cars[dr]

In [38]:

# Print sel

print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

**EXERCISE-4.**

`Driving right (2)`

The code in the previous example worked fine, but you actually unnecessarily created a new variable dr. 

You can achieve the same result without this intermediate variable. 

Put the code that computes dr straight into the square brackets that select observations from cars.

In [39]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Convert code to a one-liner
sel = cars[cars['drives_right']]

# Print sel
print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

**EXERCISE 5**

`Cars per capita (1)`


Let's stick to the cars data some more. This time you want to find out which countries have a high cars per capita figure. In other words, in which countries do many people have a car, or maybe multiple cars.

Similar to the previous example, you'll want to build up a boolean Series, that you can then use to subset the cars DataFrame to select certain observations. If you want to do this in a one-liner, that's perfectly fine!

In [40]:
# Import cars data
import pandas as pd
import numpy as np

cars = pd.read_csv('cars.csv', index_col = 0)
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS            31      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [46]:
# Create car_maniac: observations that have a cars_per_cap over 500

cpc = cars.loc[: , "cars_per_cap"]
print(cpc)

US     809
AUS     31
JPN    588
IN      18
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64

In [51]:
# Use many_cars to subset cars, Store the result as car_maniac.

car_manic = cars[many_cars]

In [54]:
# Print car_maniac

print(car_manic)

     cars_per_cap        country  drives_right
US            809  United States          True
JPN           588          Japan         False

In [55]:
car_manic

     cars_per_cap        country  drives_right
US            809  United States          True
JPN           588          Japan         False

**EXERCISE-6**

`Cars per capita (2)`

Remember about:

    np.logical_and(), 
    np.logical_or() and 
    np.logical_not(), the Numpy variants of the and, or and not operators? 

You can also use them on Pandas Series to do more advanced filtering operations.

Take this example that selects the observations that have a cars_per_cap between 10 and 80. 

Try out these lines of code step by step to see what's happening.

    cpc = cars['cars_per_cap']
    between = np.logical_and(cpc > 10, cpc < 80)
    medium = cars[between]

In [56]:
# Import cars data
import pandas as pd
import numpy as np

cars = pd.read_csv('cars.csv', index_col = 0)
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS            31      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [ ]:
cpc = cars['cars_per_cap']

In [69]:
between = np.logical_and(cpc > 10, cpc < 80)

US     False
AUS    False
JPN    False
IN     False
RU      True
MOR    False
EG     False
Name: cars_per_cap, dtype: bool

In [66]:
medium = cars[between]

In [67]:
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True